Validation of ERs after HashTree-Renewal does not support sorted variant

In RFC 4998 HashTree-Renewal is specified in an ambiguous manner.

The relevant [section is 5.2, point 4](https://tools.ietf.org/html/rfc4998#section-5.2):

```
   4.  Concatenate each h(i) with ha(i) and generate hash values
       h(i)' = H (h(i)+ ha(i)).  For multi-document groups, this is:
       h(i_a)' = H (h(i_a)+ ha(i))
       h(i_b)' = H (h(i_b)+ ha(i)), etc.
```

(Where h(i) is the data hash and ha(i) is the previous ArchiveTimeStampChain hash.)

Interpreted literally the new data hash has to be concatenated with the ArchiveTimeStampChain hash without sorting. 
**Skipping sorting before concatenating is a deviation from all other steps in RFC 4998 where hashes are concatenated and we believe it's left out by accident and is not intentional.**

This conclusion is supported by RFC 4998 "Figure 4" that illustrates the steps above and the explanation that follows. The relevant part is this:

```
h2a' = H( binary sorted and concatenated (h2a, ha(2)))

      ...

h2c' = H( binary sorted and concatenated (h2c, ha(2)))
```
So the illustration and its explanation clearly states the sorting before concatenation.

The conclusion is also supported by [RFC 6283 section 4.2.2 point 6](https://tools.ietf.org/html/rfc6283#section-4.2.2), which specifies the same process for XML ERS:

```
   6. For each archive object sort in binary ascending order and
      concatenate all h(i) and the hseq.  Generate a new digest value
      h(j)=H(h(1)..h(n),hseq).
```
Here the sorting is mentioned explicitely and there's no reason why RFC 4998 should handle it  differently.

----

ERVerifyTool is implemented with just the literal interpretation (concatenation without sorting). The [relevant code is this:](https://github.com/ervta/ERVerifyTool/blob/a09dd58/commons/src/main/java/de/bund/bsi/tr_esor/checktool/validation/default_impl/ArchiveTimeStampChainValidator.java#L121)

```
byte[] concatHash = new byte[prevChainHash.length * 2];
System.arraycopy(digestEntry.getValue(), 0, concatHash, 0, prevChainHash.length);
System.arraycopy(prevChainHash, 0, concatHash, prevChainHash.length, prevChainHash.length);
```

So in case an ER has been renewed with sorting (and sorting changed the order of the hashes) the validation will fail. **We think ERVerifyTool should either be changed to always sort before concatenation (as this was the intention of the RFC 4998) or accept both variants because RFC 4998 is ambiguous at this step and unsorted variants might be found in the field.**